---
layout:     page
---

{% capture tags %}
    {% for tag in site.tags %}
        {{ tag[0] }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | sort %}

<!-- Intro Header -->
<header class="intro">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <h1>Cameron Doyle</h1>
            <p>This is a chronological portfolio of my development side projects. As of 2016, my aim is to complete one side project every four months.</p>
        </div>
    </div>
</header>

<section class="text-center container">
    <div class="col-lg-6 col-lg-offset-3">
        <table>
            {% for post in site.posts %}
                <tbody class="project-entry">
                    <tr>
                        <td class="title"><a href="{{ post.hosturl }}">{{ post.title }}</a></td>
                        <td class="year">{{ post.year }}</td>
                    </tr>
                    <tr>
                        <td class="description" colspan="2">
                            {{ post.excerpt | strip_html }}
                        </td>
                    </tr>
                    <tr>
                        {% if post.blog %}
                        <td class="source">
                            <a href="{{ post.source }}">View the source code here <i class="fa fa-github fa-fw"></i></a>
                        </td>
                        <td class="blog-link">
                            <a href="http://blog.camerondoyle.co.uk/{{ post.blog }}">Read the blog</a>.
                        </td>
                        {% else %}
                        <td class="source" colspan="2">
                            <a href="{{ post.source }}">View the source code here <i class="fa fa-github fa-fw"></i></a>
                        </td>
                        {% endif %}                        
                    </tr>
                    <tr>
                        <td colspan="2">
                            {% for tag in post.tags %}
                                {{ tag }}{% unless post.tags.size == 1 %}{% if forloop.last == false %} | {% endif %}{% endunless %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% if forloop.last == false %}
                    <tr>
                        <td colspan="2">
                            <div class="post-divider"></div>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            {% endfor %}
        </table>
    </div>
</section>